parameters:
	level: 9
	paths:
		- 'php-src'
	scanFiles:
		- 'php-tests/CommonTestClass.php'
	excludePaths:
		- 'php-src/InfoStorage/Predis.php'
		- 'php-src/InfoStorage/Redis.php'
		- 'php-tests/_autoload.php'
		- 'php-tests/_bootstrap.php'
		- 'php-tests/CommonTestClass.php'
		- 'php-tests/testing-ipsum.txt'
	bootstrapFiles:
		- 'php-tests/_autoload.php'
	ignoreErrors:
		# file_get_contents has null as default value of maxlen
		- '#Parameter \#5 \$maxlen of function file_get_contents expects#'
		# strval, intval
		- '#Parameter \#1 \$var of function [si][tn][rt]val expects#'
