parameters:
	level: 9
	paths:
		- 'php-src'
	scanFiles:
		- 'php-tests/CommonTestClass.php'
	excludePaths:
		- 'php-src/InfoStorage/Predis.php'
		- 'php-src/InfoStorage/Redis.php'
		- 'php-tests/_autoload.php'
		- 'php-tests/_bootstrap.php'
		- 'php-tests/CommonTestClass.php'
		- 'php-tests/testing-ipsum.txt'
	bootstrapFiles:
		- 'php-tests/_autoload.php'
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		# file_get_contents has null as default value of maxlen - php7
		- '#Parameter \#5 \$maxlen of function file_get_contents expects#'
		# reflection constructors
		- '#argument of class ReflectionClass constructor expects class-string#'
		# strval, intval
		- '#Parameter \#1 \$va[rl]u?e? of function [si][tn][rt]val expects#'
		-
			# json decoded
			message: '#Cannot access property \$[a-zA-Z]+ on mixed.#'
			path: 'php-src/ServerData/Processor.php'
