<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
        bootstrap="php-tests/_bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        defaultTestSuite="ALL"
        verbose="true">
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">php-src/</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="ALL">
            <directory>php-tests/BasicTests</directory>
            <directory>php-tests/FormatTests</directory>
            <directory>php-tests/StorageTests</directory>
            <directory>php-tests/ResponsesTests</directory>
        </testsuite>
        <testsuite name="Formats">
            <directory>php-tests/FormatTests</directory>
        </testsuite>
        <testsuite name="Storage">
            <directory>php-tests/StorageTests</directory>
        </testsuite>
        <testsuite name="Responses">
            <directory>php-tests/ResponsesTests</directory>
        </testsuite>
    </testsuites>
</phpunit>